<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emoji</key>
		<string>😊</string>
		<key>thekey</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😳</string>
		<key>thekey</key>
		<string>[脸红]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😓</string>
		<key>thekey</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😕</string>
		<key>thekey</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😡</string>
		<key>thekey</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😘</string>
		<key>thekey</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😷</string>
		<key>thekey</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😤</string>
		<key>thekey</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😏</string>
		<key>thekey</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😴</string>
		<key>thekey</key>
		<string>[困乏]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>👎</string>
		<key>thekey</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💤</string>
		<key>thekey</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😃</string>
		<key>thekey</key>
		<string>[嘻嘻]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😎</string>
		<key>thekey</key>
		<string>[得意]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😢</string>
		<key>thekey</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😱</string>
		<key>thekey</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😍</string>
		<key>thekey</key>
		<string>[色色]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💖</string>
		<key>thekey</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😋</string>
		<key>thekey</key>
		<string>[吐舌]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😝</string>
		<key>thekey</key>
		<string>[偷笑]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😊</string>
		<key>thekey</key>
		<string>[害羞]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😭</string>
		<key>thekey</key>
		<string>[大哭]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>❓</string>
		<key>thekey</key>
		<string>[疑问]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😶</string>
		<key>thekey</key>
		<string>[好衰]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😒</string>
		<key>thekey</key>
		<string>[不屑]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😵</string>
		<key>thekey</key>
		<string>[晕晕]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😇</string>
		<key>thekey</key>
		<string>[悠闲]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😠</string>
		<key>thekey</key>
		<string>[不爽]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🐷</string>
		<key>thekey</key>
		<string>[猪头]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>👻</string>
		<key>thekey</key>
		<string>[幽灵]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🐶</string>
		<key>thekey</key>
		<string>[狗狗]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🐱</string>
		<key>thekey</key>
		<string>[猫猫]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🐹</string>
		<key>thekey</key>
		<string>[老鼠]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🐰</string>
		<key>thekey</key>
		<string>[兔子]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🐯</string>
		<key>thekey</key>
		<string>[老虎]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😈</string>
		<key>thekey</key>
		<string>[恶魔]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>👼</string>
		<key>thekey</key>
		<string>[天使]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🌹</string>
		<key>thekey</key>
		<string>[玫瑰]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💔</string>
		<key>thekey</key>
		<string>[心碎]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💋</string>
		<key>thekey</key>
		<string>[亲亲]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>👍</string>
		<key>thekey</key>
		<string>[强大]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>✌️</string>
		<key>thekey</key>
		<string>[胜利]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>👌</string>
		<key>thekey</key>
		<string>[OK]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💩</string>
		<key>thekey</key>
		<string>[便便]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🙇</string>
		<key>thekey</key>
		<string>[服了]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🍚</string>
		<key>thekey</key>
		<string>[吃饭]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>☕️</string>
		<key>thekey</key>
		<string>[咖啡]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💰</string>
		<key>thekey</key>
		<string>[钱币]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🍺</string>
		<key>thekey</key>
		<string>[啤酒]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🎂</string>
		<key>thekey</key>
		<string>[蛋糕]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💯</string>
		<key>thekey</key>
		<string>[百分]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🍭</string>
		<key>thekey</key>
		<string>棒糖</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💣</string>
		<key>thekey</key>
		<string>[地雷]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💍</string>
		<key>thekey</key>
		<string>[钻戒]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🎁</string>
		<key>thekey</key>
		<string>[礼物]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>🇨🇳</string>
		<key>thekey</key>
		<string>[国旗]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😎</string>
		<key>thekey</key>
		<string>[耍酷]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😁</string>
		<key>thekey</key>
		<string>[呲牙]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😶</string>
		<key>thekey</key>
		<string>[发呆]</string>
	</dict>
</array>
</plist>
