<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>emoji</key>
		<string>😊</string>
		<key>thekey</key>
		<string>[微笑]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😳</string>
		<key>thekey</key>
		<string>[脸红]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😓</string>
		<key>thekey</key>
		<string>[尴尬]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😕</string>
		<key>thekey</key>
		<string>[撇嘴]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😡</string>
		<key>thekey</key>
		<string>[抓狂]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😘</string>
		<key>thekey</key>
		<string>[飞吻]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😷</string>
		<key>thekey</key>
		<string>[闭嘴]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😤</string>
		<key>thekey</key>
		<string>[发怒]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😏</string>
		<key>thekey</key>
		<string>[调皮]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😴</string>
		<key>thekey</key>
		<string>[困乏]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>👎</string>
		<key>thekey</key>
		<string>[鄙视]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💤</string>
		<key>thekey</key>
		<string>[睡觉]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😃</string>
		<key>thekey</key>
		<string>[嘻嘻]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😎</string>
		<key>thekey</key>
		<string>[耍酷]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😭</string>
		<key>thekey</key>
		<string>[流泪]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😱</string>
		<key>thekey</key>
		<string>[惊恐]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😍</string>
		<key>thekey</key>
		<string>[色色]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>💖</string>
		<key>thekey</key>
		<string>[爱心]</string>
	</dict>
	<dict>
		<key>emoji</key>
		<string>😋</string>
		<key>thekey</key>
		<string>[吐舌]</string>
	</dict>
</array>
</plist>
